$text-default: #222D39;

.btn {
    &-link {
        text-decoration: none !important;
        color: $text-default;
    }
}

label {
    color: $text-default;
}

.sidebar-enter-active , .sidebar-leave-active {
    transition: transform .2s ease;
  }
  .sidebar-enter, .sidebar-leave-to {
    transform: translateX(100%);
    transition: all 150ms ease-in 0s;
}